@mixin scrollBar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #dedce3;
    border-radius: 20px;
  }
}

@mixin flex-align($x_align: center, $y_align: center) {
  display: flex;
  justify-content: $x_align;
  align-items: $y_align;
}

//超出指定行后，显示省略号
@mixin overflow-ellipsis($lines: 2) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
  overflow: hidden;
}

//小三角形 eg:triangle(10px,#333)
@mixin triangle($width, $color, $direction: right, $thin: 1px) {
  border: {
    top: $thin solid $color;
    right: $thin solid $color;
  }
  width: $width;
  height: $width;
  $deg: 45deg;
  @if $direction==up {
    $deg: -45deg;
  } @else if $direction==down {
    $deg: 135deg;
  } @else if $direction==left {
    $deg: -135deg;
  }
  transform: rotate($deg);
}

// 实心三角形  eg: div{@include triangle(20px,20px,red,left);}
@mixin solidTriangle($width, $height, $color, $direction) {
  $width: $width/2;
  $color-border-style: $height solid $color;
  $transparent-border-style: $width solid transparent;
  height: 0;
  width: 0;

  @if $direction==up {
    border-bottom: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==right {
    border-left: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  } @else if $direction==down {
    border-top: $color-border-style;
    border-left: $transparent-border-style;
    border-right: $transparent-border-style;
  } @else if $direction==left {
    border-right: $color-border-style;
    border-top: $transparent-border-style;
    border-bottom: $transparent-border-style;
  }
}
